---
- name: Manage repositories and packages
  block:
    - name: Update dnf cache for RedHat系
      ansible.builtin.dnf:
        update_cache: yes
      become: true
      when: ansible_os_family == "RedHat"

    - name: Ensure EPEL repository is available
      ansible.builtin.dnf:
        name: epel-release
        state: present
      when: ansible_os_family == "RedHat"

    - name: Install Development Tools on Red Hat-based systems
      ansible.builtin.dnf:
        name: "@Development Tools"
        state: present
      when: ansible_os_family == "RedHat"

    - name: Install ImageMagick with EPEL temporarily enabled on Red Hat-based systems
      ansible.builtin.dnf:
        name:
          - ImageMagick
          - ImageMagick-devel
        enablerepo: epel
        disable_gpg_check: yes
        state: present
      when: ansible_os_family == "RedHat"

- name: Ensure git is installed
  ansible.builtin.package:
    name: git
    state: present

- name: Get system architecture
  ansible.builtin.setup:
    filter: ansible_architecture
  register: arch_info
  changed_when: false

- name: Debug system architecture information
  ansible.builtin.debug:
    var: arch_info

- name: Set architecture variable
  ansible.builtin.set_fact:
    architecture: "{{ arch_info.ansible_facts.ansible_architecture }}"
  when: arch_info.ansible_facts.ansible_architecture is defined

- name: Clone Shirasagi repository with a specific branch
  ansible.builtin.git:
    repo: "{{ shirasagi_repo }}"
    dest: "{{ dest_dir }}"
    version: "{{ shirasagi_branch }}"
    update: yes

- name: Find .rb files in config/samples
  ansible.builtin.find:
    paths: "/var/www/shirasagi/config/samples"
    patterns: "*.rb"
  register: rb_files

- name: Copy .rb files from config/samples to config
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "/var/www/shirasagi/config/"
    remote_src: yes
    mode: "0644"
  loop: "{{ rb_files.files }}"
  when: rb_files.matched > 0

- name: Find .yml files in config/samples
  ansible.builtin.find:
    paths: "/var/www/shirasagi/config/samples"
    patterns: "*.yml"
  register: yml_files

- name: Copy .yml files from config/samples to config
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "/var/www/shirasagi/config/"
    remote_src: yes
    mode: "0644"
  loop: "{{ yml_files.files }}"
  when: yml_files.matched > 0

# Bundlerのインストールと実行
- name: Set ASDF path in environment
  ansible.builtin.set_fact:
    asdf_path: "/root/.asdf/bin:/root/.asdf/shims"

- name: Check if bundler is installed
  ansible.builtin.command: bundle --version
  args:
    chdir: /var/www/shirasagi
  register: bundler_check
  failed_when: false
  changed_when: false

- name: Install bundler if not installed
  ansible.builtin.shell: |
    export PATH="$PATH:{{ asdf_path }}" && gem install bundler
  args:
    executable: /bin/bash
  when: bundler_check.stdout.find('true') == -1
  become: true
  become_user: root

- name: Fix permissions of /var/www/shirasagi
  ansible.builtin.file:
    path: /var/www/shirasagi
    owner: root
    group: root
    mode: "0755"
  become: true

- name: Check if all gems are installed
  ansible.builtin.shell: |
    export PATH="$PATH:{{ asdf_path }}" && bundle check
  args:
    chdir: /var/www/shirasagi
    executable: /bin/bash
  register: bundle_check
  failed_when: false
  changed_when: false

- name: Install necessary Ruby gems with bundle install
  ansible.builtin.shell: |
    export PATH="$PATH:{{ asdf_path }}" && bundle install --deployment --without development test
  args:
    chdir: /var/www/shirasagi
    executable: /bin/bash
  environment:
    BUNDLE_PATH: vendor/bundle
  when: bundle_check.rc != 0
  become: true
  become_user: root

- name: Create /etc/profile.d/disable-spring.sh to disable Spring
  copy:
    content: |
      export DISABLE_SPRING=1
    dest: /etc/profile.d/disable-spring.sh
    owner: root
    group: root
    mode: "0755"

- name: Copy the systemd service file
  copy:
    src: /var/www/shirasagi/bin/unicorn-centos7_asdf.service
    dest: /etc/systemd/system/unicorn.service
    remote_src: yes
    owner: root
    group: root
    mode: "0755"

- name: Debug content of the systemd service file
  ansible.builtin.command: cat /etc/systemd/system/unicorn.service
  register: systemd_file_content

- name: Display systemd service file content
  ansible.builtin.debug:
    var: systemd_file_content.stdout

- name: Add EnvironmentFile line to the systemd service file
  lineinfile:
    path: /etc/systemd/system/unicorn.service
    line: "EnvironmentFile=/etc/sysconfig/unicorn"
    insertafter: "User=root"
    state: present

- name: Ensure /etc/sysconfig directory exists
  file:
    path: /etc/sysconfig
    state: directory

- name: Create /etc/sysconfig/unicorn with memory limits
  copy:
    content: |
      UNICORN_KILLER_MEM_MIN=576
      UNICORN_KILLER_MEM_MAX=640
    dest: /etc/sysconfig/unicorn
    owner: root
    group: root
    mode: "0644"

- name: Create systemd service file for Shirasagi Job Server
  ansible.builtin.copy:
    dest: /etc/systemd/system/shirasagi-job.service
    content: |
      [Unit]
      Description=Shirasagi Job Server
      After=mongod.service

      [Service]
      User=root
      WorkingDirectory=/var/www/shirasagi
      Type=simple
      Restart=always
      ExecStart=/bin/bash -lc '. /root/.asdf/asdf.sh && bundle exec rake job:run'
      ExecStop=/usr/bin/kill -QUIT $MAINPID

      [Install]
      WantedBy=multi-user.target

- name: Copy job.yml from defaults to config
  copy:
    src: /var/www/shirasagi/config/defaults/job.yml
    dest: /var/www/shirasagi/config/job.yml
    owner: root
    group: root
    mode: "0644"
    remote_src: yes

- name: Replace mode:on_demand with mode:"service" in job.yml
  replace:
    path: /var/www/shirasagi/config/job.yml
    regexp: 'mode: "on_demand"'
    replace: 'mode: "service"'

- name: Reload systemd to recognize the new service file
  systemd:
    daemon_reload: yes

- name: Enable and start unicorn.service
  systemd:
    name: unicorn.service
    enabled: yes
    state: started

# デバッグ用のタスクを追加
- name: Debug unicorn.service status
  ansible.builtin.command: systemctl status unicorn.service
  register: unicorn_status_debug
  failed_when: false

- name: Show unicorn.service status
  ansible.builtin.debug:
    var: unicorn_status_debug.stdout_lines

- name: Show detailed log of unicorn.service using journalctl
  ansible.builtin.command: journalctl -xeu unicorn.service
  register: unicorn_journal_debug

- name: Display detailed log of unicorn.service
  ansible.builtin.debug:
    var: unicorn_journal_debug.stdout_lines

- name: Enable and start shirasagi-job.service
  systemd:
    name: shirasagi-job.service
    enabled: yes
    state: started
