if ( $http_user_agent ~* (Googlebot|claudebot|Y!J-WSC|LLM-jp-Crawler|SemrushBot|AhrefsBot|Linguee|proximic|BLEXBot|GrapeshotCrawler|Mappy|MJ12bot|MegaIndex|bidswitchbot|SMTBot|ltx71|integralads|jet-bot|trendictionbot|MauiBot|bingbot|Barkrowler|PetalBot|msnbot) ) {
    return 403;
}

