### サーバ情報

- {{ sesrver_hostmame }}
- グローバルIP：{{ server_ip }}
- ローカルIP：{{ server_local_ip }}

### ドメイン

### Linuxユーザ

- wtuser / (Webtips既定)
- root / (Webtips既定)

### BASIC認証

クラウドサーバ情報.xlsx参照

### 管理画面

クラウドサーバ情報.xlsx参照
